$primary-color: rgb(233,89,18);
$secondary-color: rgb(12,131,151);

/* font variables */
$font-family: 'Kanit', sans-serif;
$font-size: 18px;

/* Layout Variables */
$max-width: 1200px;
$left-rail-width: 320px;

$infoBoxPaddingHeight: 20px;
$infoBoxPaddingWidth: 30px; 

/* infoBox variables */